{% extends 'base.html' %}

{% block body %}
<div class="imgcontainer" >
    <img class="imgcontainer" src="https://source.unsplash.com/1600x900/?bike" alt="https://source.unsplash.com/1600x900/?bike, car" widht="100px">
    <div class="imgcentered">
            <div> Welcome to AJ Modification! <br></div>
            <div> It's Nice To Meet You<hr></div>
            <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="services">Tell Me More</a>
    </div>
</div>
{% endblock body %}

